/*this is a CSS Reset
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*HTML 5 reset for older browsers
*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  HEADER
  ========================================
*/

.header {
    background-image: url(../images/churchheader.jpg);
    background-size: cover;
    height: inherit;
}

.logo {
    font-family: 'Amatic SC', cursive;
    font-weight: 800;
    color: #fff;
    float: left;
    font-size: 60px;
    padding: 10px;  
    letter-spacing: 5px;
}


.nav-bar {
    
}

.navigation {
    padding: 20px 20px;
    background-color: rgba(51, 51, 51, 0.8);
    text-align: right;
}

nav ul li {
    display: inline-block;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 15px; 
    
}

.navigation a {
    color: #fff;
}

.navigation a:hover {
    color: #a9a9a9;
}


/*
  ========================================
  MID HEADER SECTION
  ========================================
*/
.mid-header {
    color: #fff;
    margin-top: 200px;
    text-align: center;
}

.mid-header h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
}

.mid-header h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

/*
  ========================================
  MID HEADER SECTION BUTTON
  ========================================
*/

.demo a {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    letter-spacing: 1em;
    text-decoration: none;
    transition: opacity .3s;
} 

.demo a:hover {
    opacity: .5;
}

#section04 a {
    padding-top: 60px;
}

#section04 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb04 2s infinite;
    animation: sdb04 2s infinite;
    box-sizing: border-box;
}

@-webkit-keyframes sdb04 {
    0% {
        -webkit-transform: rotate(-45deg)
            translate(0, 0);
    }
    
    20% {
        -webkit-transform: rotate(-45deg) translate(-10, 10px);
    }
    
    40% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
    }
}

@keyframes sdb04 {
    0% {
        transform: rotate (-45deg) translate(0, 0);
    }
    
    20% {
        transform: rotate(-45deg) translate(-10px, 10px);
    }
    
    40% {
        transform: rotate(-45deg) translate(0, 0);
    }
}


/*
  ========================================
  BODY
  ========================================
*/

body {
    font-family: 'Varela Round';
} 

/*
  ========================================
  GRID OF TWO
  ========================================
*/


.area_2_of_2 {
	width: 100%;
}

.area_1_of_2 {
	width: 49.2%;
}

/*
  ========================================
  GO FULL WIDTH AT LESS THAN 480 PIXELS
  ========================================
*/

@media only screen and (max-width: 480px) {
	.area_2_of_2 {
		width: 100%; 
	}
	.area_1_of_2 {
		width: 100%; 
	}
}

/*
  ========================================
    SECTIONS
  ========================================
*/

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*
  ========================================
  GROUPS
  ========================================
*/


.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

/*
  ========================================
  GRID COLUMN SETUP
  ========================================
*/

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}

.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */


/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

